.content_book {
	margin: 40px auto;
	padding: 0 10px;
	max-width: 950px;
}
.book {
	float: left;
	max-width: 60%;
}
.book_title {
	border-bottom: 1px dotted #A0A0A0;
}
.book_img {
	  float: right;
}
/*book index*/
.section {
	color: #0D0D0D;
}
.content_book {
	margin: 0 auto;
	max-width: 960px;
	font-size: 14px;
	/*text-align: right;*/
}
.section:nth-child(2n) .book_box {
	float: right;
	text-align: right;
}
.content_book .book_box{
	width: 30%;
	padding: 10px 20px;
	filter:alpha(opacity=40);
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 3% 3%;
}
.content_book .booktitle {
	font-size: 24px;
	line-height: 3em;
}
.content_book .booknew {
}
/*book index*/