.home_content{
	max-width: 960px;
	margin: auto;
}
.home_inner{
	max-width: 60%;
	float: left;
	margin-bottom: 20px;
}
.focus_num{
	margin: 0px 2px;
}
.home_wrap{
	min-height: 160px;
	margin-top: 40px; 
	border: 1px double #D7D7D7;
	border-radius: 4px;
	color: #666;
}
.home_wrap_head{
	padding: 10px 7px;
	border-bottom: 1px double #D7D7D7;
	height: 20px;
}
.home_wrap_head .home_wrap_head_top{
	float: left;
}
.home_wrap_head .home_wrap_head_top, .home_wrap_head h2{
	font-size: 14px;
	color: #555;
	font-weight: 700;
	display: inline-block;
}
.home_wrap_head h2{
	float: left;
}
.home_wrap_ico{
	float: right;
}
.home_wrap_ico a{
	color: #666;
	font-size: 12px;
	font-weight: 800;
}
.home_wrap_ico a:hover{
	color: #008448;
	background: #fff;
}
.home_wrap_content{
	padding: 10px 16px;
}
.user_face{
	width: 110px;
	height: 110px;
	overflow: hidden;
	float: left;
}
.user_face img{
	width: 110px;
  	height: 110px;
	border: 0 none;
	border-radius: 4px;
}
.user_face .kc-face-edit-button{
	position: absolute;
	background: rgba(0, 0, 0, 0.9);
	width: 110px;
	display: none;
	margin-top: -28px;
	height: 22px;
	text-align: center;
	color: #fff;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
}
.home_wrap_content .user_info {
	margin: 0px 10px 0 126px;
	font-size: 13px;
}
.home_wrap_content .user_info .item{
	margin-bottom: 5px;
}
.home_wrap_content .item .icon {
	margin-right: 6px;
}
.home_inner_right{
	margin-top: 40px;
	max-width: 35%;
	float: right;
}
.home_wrap_content a{
	color: #666;
}
.home_wrap_content a:hover{
	color: #008448;
	background: none;
}
.home_wrap_content .user_info .items .item_span:nth-child(n+2){
	border-left: 1px solid #eee;
	margin-left: 6px;
	padding-left: 10px;
}
.home_focus a{
	padding-right:10px;
}
.home_focus a:nth-child(2){
	border-left: 1px double #d7d7d7;
	padding-left:10px;
}
.focus_inner{
	padding: 5px 0;
	border-bottom: 1px double #d7d7d7;
}
.focus_kc{
	margin: 10px 0;
	color: #458790;
}
.focus_kc div{
	cursor: pointer;
}
